<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Jessica Lynn Suttles" %></title>

    <%= stylesheet_link_tag "normalize", "resume", media: "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="page">
      <div class="resume">
        <h1>Jessica Lynn Suttles</h1>

        <ul id="contact">
          <li>
            <a href="mailto:jlsuttles@gmail.com">jlsuttles@gmail.com</a>
          </li>
          <li>
            <a href="http://jlsuttles.me">jlsuttles.me</a>
          </li>
          <li>
            <a href="http://jlsuttles.me/cover-letter">jlsuttles.me/cover-letter</a>
          </li>
          <li>
            <a href="http://jlsuttles.me/resume">jlsuttles.me/resume</a>
          </li>
          <li>
            San Francisco, CA
          </li>
        </ul>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
