<div id="contact">
  <h2>Contact</h2>
  <ul class="vcard">
    <li class="fn n">
      <span class="given-name">Jessica</span>
      <span class="additional-name">Lynn</span>
      <span class="family-name">Suttles</span>
    </li>
    <li class="adr"><span class="locality">Los Angeles</span>, <span class="region">CA</span></li>
    <li class="email"><a href="mailto:jlsuttles@gmail.com">jlsuttles@gmail.com</a></li>
    <li><a href="http://twitter.com/jlsuttles">@jlsuttles</a></li>
    <li class="url org"><a href="http://jlsuttles.me">jlsuttles.me</a></li>
    <li><a href="http://github.com/jlsuttles">github.com/jlsuttles</a></li>
    <li><a href="http://www.linkedin.com/in/jlsuttles">linkedin.com/in/jlsuttles</a></li>
  </ul>
</div>
