<div class="education">
  <h2>Education</h2>
  <ol class="vcalendar">
    <li class="education vevent vcard">
      <div class="htitle"> 
        <span class="org">Ohio Wesleyan University</span>
        <span class="location">Delaware, OH</span>
        <span class="date_duration"> 
          <abbr class="dtstart" title="2006-09-01"> September 2006 </abbr> 
          &mdash;
          <abbr class="dtend" title="2010-05-31"> May 2010 </abbr> 
        </span>
        <ul class="description">
          <li>3.65 GPA</li>
          <li>B.A. Computer Science</li>
          <li>B.F.A. Computer Imaging and Graphic Design</li>
        </ul>
      </div>
    </li>
  </ol>
</div>
