<div id="work_history">
  <h2>Professional Experience</h2>

  <ol class="vcalendar">

    <li class="experience vevent vcard">
      <div class="htitle"> 
        <span class="org">Curious Minds</span>
        <span class="summary">Lead Developer</span>
        <span class="location">West Hollywood, CA</span>
        <span class="date_duration"> 
          <abbr class="dtstart" title="2010-10-01"> October 2010 </abbr> 
          &mdash;
          <abbr class="dtend" title="Present"> Present </abbr> 
        </span>
        <div class="description">

          <p>
            Curious Minds is an incubator company rooted in the web and VoiP space. They are currently expanding into the mobile app space.
          </p>

          <ol class="vcalendar">
          
            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">RingADoc REST API</span>
                <span class="summary">Lead Developer</span>
                <span class="date_duration"> 
                  <abbr class="dtstart" title="2011-03-01"> March 2011 </abbr> 
                  &mdash;
                  <abbr class="dtend" title="Present"> Present </abbr> 
                </span>
                <ul class="description">
                  <li>Rails mobile application server</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">RingADoc Android</span>
                <span class="summary">Project Lead</span>
                <span class="date_duration"> 
                  <abbr class="dtstart" title="2011-07-01"> July 2011 </abbr> 
                  &mdash;
                  <abbr class="dtend" title="Present"> Present </abbr> 
                </span>
                <ul class="description">
                  <li>Learned Android development</li>
                  <li>Wrote RailsRestClient to talk to backend Rails API</li>
                  <li>Handled file upload/download to/from Rails backend</li>
                  <li>Managed team of 3 developers</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">RingADoc iOS</span>
                <span class="summary">Developer</span>
                <span class="date_duration"> 
                  <abbr class="dtstart" title="2011-03-01"> March 2011 </abbr> 
                  &mdash;
                  <abbr class="dtend" title="2011-06-30"> June 2011 </abbr> 
                </span>
                <ul class="description">
                  <li>Learned iOS development</li>
                  <li>Set up Objective Resource to talk to backend Rails API</li>
                  <li>Handled file upload/download to/from Rails backend</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">Call for Therapy IVR</span>
                <span class="summary">Project Lead</span>
                <span class="date_duration"> 
                  <abbr class="dtstart" title="2010-12-01"> December 2010 </abbr> 
                  &mdash;
                  <abbr class="dtend" title="2011-02-28"> February 2011 </abbr> 
                </span>
                <ul class="description">
                  <li>Helped business spec out the system in Cucumber</li>
                  <li>Used Cucumber specs to build the IVR system/scripts, RAGI/Asterisk</li>
                  <li>Added billing and routing rule features to TeleThrive platform</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">RingADoc Web</span>
                <span class="summary">Developer</span>
                <span class="date_duration"> 
                  <abbr class="dtstart" title="2010-10-01"> October 2010 </abbr> 
                  &mdash;
                  <abbr class="dtend" title="2010-11-30"> November 2010 </abbr> 
                </span>
                <ul class="description">
                  <li>Another legacy codebase</li>
                  <li>Lots of refactoring/re-implementation</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">MyFanline</span>
                <span class="summary">Developer</span>
                <span class="date_duration"> 
                  <abbr class="dtstart" title="2010-10-01"> October 2010 </abbr> 
                  &mdash;
                  <abbr class="dtend" title="2010-11-30"> November 2010 </abbr> 
                </span>
                <ul class="description">
                  <li>Worked with a legacy codebase</li>
                  <li>Added role management to an existing authentication system</li>
                  <li>IVR system RAGI/Asterisk</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

          </ol><!--- end of vcalendar -->

        </div><!--- end of description -->
      </div><!--- end of htitle -->
    </li><!--- end of experience vevent vcard -->

    <li class="experience vevent vcard">
      <div class="htitle"> 
        <span class="org">Freelance</span>
        <span class="summary">Developer &amp; Designer</span>
        <span class="location">Columbus, OH</span>
        <span class="date_duration"> 
          <abbr class="dtstart" title="2010-05-01"> May 2010 </abbr> 
          &mdash;
          <abbr class="dtend" title="2010-09-30"> September 2010 </abbr> 
        </span>
        <div class="description">

          <p>
            During my summer after EdgeCase I explored starting Rails applications from scratch and deploying them. My previous Rails experience had consisted of diving into large legacy code bases. I developed two content management systems.
          </p>

          <ol class="vcalendar">
          
            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">Jahman Brahman</span>
                <ul class="description">
                  <li>Hobo's lackluster results drove me to implement my own CMS</li>
                  <li>Deployed to Heroku</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">Amato's Woodfired Pizza</span>
                <ul class="description">
                  <li>Used the Hobo CMS gem</li>
                  <li>Deployed to Heroku</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

          </ol><!--- end of vcalendar -->

        </div><!--- end of description -->
      </div><!--- end of htitle -->
    </li><!--- end of experience vevent vcard -->

    <li class="experience vevent vcard">
      <div class="htitle"> 
        <span class="org">EdgeCase</span>
        <span class="summary">Development Intern</span>
        <span class="location">Columbus, OH</span>
        <span class="date_duration"> 
          <abbr class="dtstart" title="2010-06-01"> June 2010 </abbr> 
          &mdash;
          <abbr class="dtend" title="2010-04-30"> April 2010 </abbr> 
        </span>
        <div class="description">

          <p>
            EdgeCase is a Ruby on Rails consultancy employing amazing software artisans dedicated to building strong code bases and teaching best practices. During my time there I learned Rails, git, pair programming, TDD, and Agile development. I worked on successful production applications.
          </p>

          <ol class="vcalendar">

            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">Scrip-Safe</span>
                <ul class="description">
                  <li>A web-based student transcript archive service</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">Diplomas on Demand</span>
                <ul class="description">
                  <li>A web-based diploma design and printing tool</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">Transcripts on Demand</span>
                <ul class="description">
                  <li>A web-based student transcript request fulfillment tool</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

            <li class ="experience vevent vcard">
              <div class="htitle"> 
                <span class="project">Stream Step</span>
                <ul class="description">
                  <li>An application deployment automation solution</li>
                </ul><!--- end of description -->
              </div><!--- end of htitle -->
            </li><!--- end of experience vevent vcard -->

          </ol><!--- end of vcalendar -->

        </div><!--- end of description -->
      </div><!--- end of htitle -->
    </li><!--- end of experience vevent vcard -->

  </ol><!--- end of vcalendar -->

</div><!--- end work_history -->
