<div id="experience">
  <h2>Professional Experience</h2>

  <ol class="vcalendar">

    <li class="experience vevent vcard">
      <div class="htitle">
        <span class="summary">Software Engineer</span>,
        <span class="org">
          <a href="http://gophilosophie.com/">philosphie</a>,
        </span>
        <span class="location">Venice, CA</span>

      </div><!--- end of htitle -->
      <span class="date_duration">
        <abbr class="dtstart" title="2011-11-01"> November 2011 </abbr>
        &mdash;
        <abbr class="dtend" title="present"> Present </abbr>
      </span>
      <div class="description">

        <ol class="vcalendar">

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://pp-stg.herokuapp.com/">Planned Parenthood Advocacy Orgs Across America Mobile Voter Guide</a> Ruby on Rails Website
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2012-06-01"> June 2012 </abbr>
              &mdash;
              <abbr class="dtend" title="2012-08-01"> August 2012 </abbr>
            </span>
            <ul class="description">
              <li>Admin CMS Interface & User Facing Site</li>
              <li>CSV Data Imports</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://gophilosophie.com/case_studies/edington-associates">The Self Leadership Project</a> Ruby on Rails Website
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2012-03-01"> March 2012 </abbr>
              &mdash;
              <abbr class="dtend" title="2012-06-01"> June 2012 </abbr>
            </span>
            <ul class="description">
              <li>Admin CMS Interface & User Facing Site</li>
              <li>SSO Implementation</li>
              <li>CSV Data Imports</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://gophilosophie.com/case_studies/amplify-la">Amplify.LA</a> Ruby on Rails Website
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2012-02-01"> February 2012 </abbr>
              &mdash;
              <abbr class="dtend" title="2012-03-01"> March 2012 </abbr>
            </span>
            <ul class="description">
              <li>Application Management & Internal Twitter for a Start Up Accelerator</li>
              <li>Admin Interface & User Facing Site</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="https://www.facebook.com/mandarinenapoleon/app_238508166215511">Mandarine Napoleon</a> Ruby on Rails Website & Facebook Application
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2012-01-01"> January 2012 </abbr>
              &mdash;
              <abbr class="dtend" title="2012-02-01"> February 2012 </abbr>
            </span>
            <ul class="description">
              <li>Promotional Activity for Orange Liqueur Fans</li>
              <li>Admin Interface & User Facing Site</li>
              <li>ImageMagick Composition</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://www.outsydthebox.com">LeaseComp</a> Ruby on Rails Application
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2011-11-01"> November 2011 </abbr>
              &mdash;
              <abbr class="dtend" title="2011-12-01"> December 2011 </abbr>
            </span>
            <ul class="description">
              <li>Apartment building listings and statistics</li>
              <li>Admin Interface & User Facing Site</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

        </ol><!--- end of vcalendar -->

      </div><!--- end of description -->
    </li><!--- end of experience vevent vcard -->

    <li class="experience vevent vcard">
      <div class="htitle">
          <span class="summary">Lead Developer</span>,
        <span class="org">
          <a href="http://curiousminds.com">Curious Minds</a>,
        </span>
        <span class="location">West Hollywood, CA</span>
      </div><!--- end of htitle -->
      <span class="date_duration">
        <abbr class="dtstart" title="2010-10-01"> October 2010 </abbr>
        &mdash;
        <abbr class="dtend" title="2011-10-31"> October 2011 </abbr>
      </span>
      <div class="description">

        <p>
          Curious Minds is an incubator company rooted in the web and VoiP space currently expanding into the mobile app space.
        </p>

        <ol class="vcalendar">

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://ringadoc.com">Ringadoc</a> REST API
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2011-03-01"> March 2011 </abbr>
              &mdash;
              <abbr class="dtend" title="2011-10-31"> October 2011 </abbr>
            </span>
            <ul class="description">
              <li>Rails mobile application server for Android and iOS application</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://ringadoc.com">Ringadoc</a> Android
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2011-07-01"> July 2011 </abbr>
              &mdash;
              <abbr class="dtend" title="2011-10-31"> October 2011 </abbr>
            </span>
            <ul class="description">
              <li>Learned Android development</li>
              <li>Wrote RailsRestClient to talk to backend Rails API</li>
              <li>Handled file upload/download to/from Rails backend</li>
              <li>Managed team of 3 developers</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://ringadoc.com">Ringadoc</a> iOS
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2011-03-01"> March 2011 </abbr>
              &mdash;
              <abbr class="dtend" title="2011-06-30"> June 2011 </abbr>
            </span>
            <ul class="description">
              <li>Learned iOS development</li>
              <li>Set up Objective Resource to talk to backend Rails API</li>
              <li>Handled file upload/download to/from Rails backend</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://callfortherapy.com">Call for Therapy</a> IVR
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2010-12-01"> December 2010 </abbr>
              &mdash;
              <abbr class="dtend" title="2011-02-28"> February 2011 </abbr>
            </span>
            <ul class="description">
              <li>Helped business spec out the system in Cucumber</li>
              <li>Used Cucumber specs to build the IVR system/scripts, RAGI/Asterisk</li>
              <li>Added billing and routing rule features to TeleThrive platform</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://ringadoc.com">Ringadoc</a> Web
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2010-10-01"> October 2010 </abbr>
              &mdash;
              <abbr class="dtend" title="2010-11-30"> November 2010 </abbr>
            </span>
            <ul class="description">
              <li>Another legacy codebase</li>
              <li>Lots of refactoring/re-implementation</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://www.myfanline.com">MyFanline</a> Web & IVR
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2010-10-01"> October 2010 </abbr>
              &mdash;
              <abbr class="dtend" title="2010-11-30"> November 2010 </abbr>
            </span>
            <ul class="description">
              <li>Worked with a legacy codebase</li>
              <li>Added role management to an existing authentication system</li>
              <li>IVR system RAGI/Asterisk</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

        </ol><!--- end of vcalendar -->

      </div><!--- end of description -->
    </li><!--- end of experience vevent vcard -->

    <li class="experience vevent vcard">
      <div class="htitle">
        <span class="summary">Developer &amp; Designer</span>,
        <span class="org">Freelance</span>,
        <span class="location">Columbus, OH</span>
      </div><!--- end of htitle -->
      <span class="date_duration">
        <abbr class="dtstart" title="2010-05-01"> May 2010 </abbr>
        &mdash;
        <abbr class="dtend" title="2010-09-30"> September 2010 </abbr>
      </span>
      <div class="description">

        <p>
          During my summer after EdgeCase I explored starting Rails applications from scratch and deploying them. My previous Rails experience had consisted of diving into large legacy code bases. I developed a gem and two content management systems.
        </p>

        <ol class="vcalendar">

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project"><a href="http://rubygems.org/gems/datizzle">Datizzle</a> Ruby Gem</span>
            </div><!--- end of htitle -->
            <ul class="description">
              <li>Ruby DateTime formatting made legible.</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project"><a href="http://jahmanbrahman.com">Jahman Brahman</a></span>
            </div><!--- end of htitle -->
            <ul class="description">
              <li>Hobo's lackluster results drove me to implement my own CMS</li>
              <li>Deployed to Heroku</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project"><a href="http://www.amaotswoodfiredpizza.com">Amato's Woodfired Pizza</a></span>
            </div><!--- end of htitle -->
            <ul class="description">
              <li>Used the Hobo CMS gem</li>
              <li>Deployed to Heroku</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

        </ol><!--- end of vcalendar -->

      </div><!--- end of description -->
    </li><!--- end of experience vevent vcard -->

    <li class="experience vevent vcard">
      <div class="htitle">
        <span class="summary">Development Intern</span>,
        <span class="org">
          <a href="http://edgecase.com">EdgeCase</a>,
        </span>
        <span class="location">Columbus, OH</span>
      </div><!--- end of htitle -->
      <span class="date_duration">
        <abbr class="dtstart" title="2010-06-01"> June 2010 </abbr>
        &mdash;
        <abbr class="dtend" title="2010-04-30"> April 2010 </abbr>
      </span>
      <div class="description">

        <p>
          EdgeCase is a Ruby on Rails consultancy employing amazing software artisans dedicated to building strong code bases and teaching best practices. During my time there I learned Rails, git, pair programming, TDD, and Agile development. I worked on successful production applications.
        </p>

        <ol class="vcalendar">

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://scrip-safe.com">Scrip-Safe</a>
              </span>
            </div><!--- end of htitle -->
            <ul class="description">
              <li>A web-based student transcript archive service</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href ="http://www.scrip-safe.com/products/diplomas-on-demand.aspx">Diplomas on Demand</a>
              </span>
            </div><!--- end of htitle -->
            <ul class="description">
              <li>A web-based diploma design and printing tool</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://www.scrip-safe.com/products/transcripts-on-demand.aspx">Transcripts on Demand</a>
              </span>
            </div><!--- end of htitle -->
            <ul class="description">
              <li>A web-based student transcript request fulfillment tool</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://www.bmc.com/products/brand/streamstep-acquisition.html">Stream Step</a>
              </span>
            </div><!--- end of htitle -->
            <ul class="description">
              <li>An application deployment automation solution</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

        </ol><!--- end of vcalendar -->

      </div><!--- end of description -->
    </li><!--- end of experience vevent vcard -->

  </ol><!--- end of vcalendar -->

</div><!--- end work_history -->
