body {
  font-size: 1em;
  font-face: 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: .05em;
  margin-top:5em;
}

.content {
  float: left;
}

.sidebar {
  float: right;
  background: #eee;
  font-size: .75em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

.sidebar h2 {
  padding-left: .5em;
}

.sidebar ul.description li {
  margin-top: 0;
}

.footer {
  text-align: center;
}

.footer ul li {
  float: left;
  margin-right: 5px;
}

.sidebar #contact .fn,
.sidebar #contact .org {
  display: none;
}

.date_duration {
  display: block;
  font-style: italic;
  color: grey;
}

abbr {
  border: 0;
}

.htitle {
  font-size: 1.25em;
  font-weight: bold;
}

ol.vcalendar ol.vcalendar .htitle {
  font-size: 1em;
}

ol.vcalendar {
  list-style-type: none;
}

ol.vcalendar li {
  margin-top: 20px;
}

ol.vcalendar ol.vcalendar li {
  margin-top: 10px;
}

ol.vcalendar ol.vcalendar li ul li {
  margin-top: 5px;
}

ul, ul.description {
  list-style-type: none;
}
