<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection"> 
  
  {% include google_analytics.html %}
</head>
 
<body>

  <a href="https://github.com/jlsuttles/jlsuttles.github.com"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

  <div class="container">

  	<div class="span-24" id="header">
      <div class="span-15 content">
      <h1>Jessica Lynn Suttles</h1>
        {% include summary.html %}
      </div>
      <div class="span-8">
        <img src="/images/gravatar2.jpeg" alt="gravatar" width="310px">
      </div>
  	</div>

  	<div class="span-15 content">
      {% include experience.html %}
  	</div>

  	<div class="span-8">
      {% include contact.html %}
      {% include skills.html %}
      {% include education.html %}
  	</div>

  </div>

</body>
</html>
