<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection"> 
  
  {% include google_analytics.html %}
</head>
 
<body>

  <div class="container">

  	<div class="span-24" id="header">
      <div class="span-15 content">
      <h1>Jessica Lynn Suttles</h1>
        {% include summary.html %}
      </div>
      <div class="span-8 sidebar">
        <img src="/images/gravatar2.jpeg" alt="gravatar">
      </div>
  	</div>

  	<div class="span-15 content">
      {% include experience.html %}
  	</div>

  	<div class="span-8 sidebar">
      {% include contact.html %}
      {% include skills.html %}
      {% include education.html %}
  	</div>

  </div>

</body>
</html>
