---
title: Jessica Suttles - Resume
---

<h1>Jessica Suttles</h1>

<ul>
  <li>
    <a href="https://github.com/jlsuttles">github.com/jlsuttles</a>
  </li>
  <li>
    <a href="mailto:jlsuttles@gmail.com">jlsuttles@gmail.com</a>
  </li>
  <li>
    San Francisco, CA
  </li>
</ul>

<div id="talks">
  <h2>Conference Talks</h2>

  <ul>
    <li>
      Polling: It’s Good Enough for the WWW and It’s Good Enough for You
      <ul>
        <li>
          <a href="http://opensourcebridge.org/sessions/1153">
            Open Source Bridge 2013
          </a>
        </li>
      </ul>
    </li>
    <li>
      The History of Women in Computing
      <ul>
        <li>
          <a href="https://distill.engineyard.com/2013/videos#jessica_lynn_suttles">
            Distill 2013
          </a>
        </li>
        <li>
          <a href="http://www.nordicruby.org/speakers#user_332">
            Nordic Ruby 2013
          </a>
        </li>
        <li>
          <a href="http://programme2013.scottishrubyconference.com/proposals/5/video">
            ScottishRuby 2013
          </a>
        </li>
        <li>
          <a href="http://www.confreaks.com/videos/2322-roa2013-the-history-of-women-in-programming">
            Ruby on Ales 2013
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div id="experience">
  <h2>Professional Experience</h2>

  <ol class="vcalendar">

    <li class="experience vevent vcard">
      <div class="htitle">
        <span class="summary">Senior Software Engineer</span>,
        <span class="org">
          <a href="http://getg5.com/">G5 Search Marketing</a>,
        </span>
        <span class="location">Bend, OR</span>

      </div><!--- end of htitle -->
      <span class="date_duration">
        <abbr class="dtstart" title="2012-11-01"> November 2012 </abbr>
        &mdash;
        <abbr class="dtend" title="present"> Present </abbr>
      </span>
      <div class="description">

        <ol class="vcalendar">

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://github.com/G5">Orion</a> Ruby on Rails & Ember Applications
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2012-11-01"> November 2012 </abbr>
              &mdash;
              <abbr class="dtend" title="present"> Present </abbr>
            </span>
            <ul class="description">
              <li>Constellation architecture</li>
              <li>Heroku applications deploying Heroku applications</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

        </ol><!--- end of vcalendar -->

      </div><!--- end of description -->
    </li><!--- end of experience vevent vcard -->

    <li class="experience vevent vcard">
      <div class="htitle">
        <span class="summary">Software Engineer</span>,
        <span class="org">
          <a href="http://gophilosophie.com/">philosphie LLC</a>,
        </span>
        <span class="location">Venice, CA</span>

      </div><!--- end of htitle -->
      <span class="date_duration">
        <abbr class="dtstart" title="2011-11-01"> November 2011 </abbr>
        &mdash;
        <abbr class="dtend" title="2012-10-01"> October 2012 </abbr>
      </span>
      <div class="description">

        <ol class="vcalendar">

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://pp-stg.herokuapp.com/">Planned Parenthood Advocacy Orgs Across America Mobile Voter Guide</a> Ruby on Rails Website
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2012-06-01"> June 2012 </abbr>
              &mdash;
              <abbr class="dtend" title="2012-08-01"> August 2012 </abbr>
            </span>
            <ul class="description">
              <li>Admin CMS Interface & User Facing Site</li>
              <li>CSV Data Imports</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://gophilosophie.com/case_studies/edington-associates">The Self Leadership Project</a> Ruby on Rails Website
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2012-03-01"> March 2012 </abbr>
              &mdash;
              <abbr class="dtend" title="2012-06-01"> June 2012 </abbr>
            </span>
            <ul class="description">
              <li>Admin CMS Interface & User Facing Site</li>
              <li>SSO Implementation</li>
              <li>CSV Data Imports</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://gophilosophie.com/case_studies/amplify-la">Amplify.LA</a> Ruby on Rails Website
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2012-02-01"> February 2012 </abbr>
              &mdash;
              <abbr class="dtend" title="2012-03-01"> March 2012 </abbr>
            </span>
            <ul class="description">
              <li>Application Management & Internal Twitter for a Start Up Accelerator</li>
              <li>Admin Interface & User Facing Site</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="https://www.facebook.com/mandarinenapoleon/app_238508166215511">Mandarine Napoleon</a> Ruby on Rails Website & Facebook Application
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2012-01-01"> January 2012 </abbr>
              &mdash;
              <abbr class="dtend" title="2012-02-01"> February 2012 </abbr>
            </span>
            <ul class="description">
              <li>Promotional Activity for Orange Liqueur Fans</li>
              <li>Admin Interface & User Facing Site</li>
              <li>ImageMagick Composition</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://www.outsydthebox.com">LeaseComp</a> Ruby on Rails Application
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2011-11-01"> November 2011 </abbr>
              &mdash;
              <abbr class="dtend" title="2011-12-01"> December 2011 </abbr>
            </span>
            <ul class="description">
              <li>Apartment building listings and statistics</li>
              <li>Admin Interface & User Facing Site</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

        </ol><!--- end of vcalendar -->

      </div><!--- end of description -->
    </li><!--- end of experience vevent vcard -->

    <li class="experience vevent vcard">
      <div class="htitle">
          <span class="summary">Lead Developer</span>,
        <span class="org">
          <a href="http://curiousminds.com">Curious Minds</a>,
        </span>
        <span class="location">West Hollywood, CA</span>
      </div><!--- end of htitle -->
      <span class="date_duration">
        <abbr class="dtstart" title="2010-10-01"> October 2010 </abbr>
        &mdash;
        <abbr class="dtend" title="2011-10-31"> October 2011 </abbr>
      </span>
      <div class="description">

        <ol class="vcalendar">

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://ringadoc.com">Ringadoc</a> REST API
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2011-03-01"> March 2011 </abbr>
              &mdash;
              <abbr class="dtend" title="2011-10-31"> October 2011 </abbr>
            </span>
            <ul class="description">
              <li>Rails mobile application server for Android and iOS application</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://ringadoc.com">Ringadoc</a> Android
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2011-07-01"> July 2011 </abbr>
              &mdash;
              <abbr class="dtend" title="2011-10-31"> October 2011 </abbr>
            </span>
            <ul class="description">
              <li>Learned Android development</li>
              <li>Wrote RailsRestClient to talk to backend Rails API</li>
              <li>Handled file upload/download to/from Rails backend</li>
              <li>Managed team of 3 developers</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://ringadoc.com">Ringadoc</a> iOS
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2011-03-01"> March 2011 </abbr>
              &mdash;
              <abbr class="dtend" title="2011-06-30"> June 2011 </abbr>
            </span>
            <ul class="description">
              <li>Learned iOS development</li>
              <li>Set up Objective Resource to talk to backend Rails API</li>
              <li>Handled file upload/download to/from Rails backend</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://callfortherapy.com">Call for Therapy</a> IVR
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2010-12-01"> December 2010 </abbr>
              &mdash;
              <abbr class="dtend" title="2011-02-28"> February 2011 </abbr>
            </span>
            <ul class="description">
              <li>Helped business spec out the system in Cucumber</li>
              <li>Used Cucumber specs to build the IVR system/scripts, RAGI/Asterisk</li>
              <li>Added billing and routing rule features to TeleThrive platform</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://ringadoc.com">Ringadoc</a> Web
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2010-10-01"> October 2010 </abbr>
              &mdash;
              <abbr class="dtend" title="2010-11-30"> November 2010 </abbr>
            </span>
            <ul class="description">
              <li>Another legacy codebase</li>
              <li>Lots of refactoring/re-implementation</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://www.myfanline.com">MyFanline</a> Web & IVR
              </span>
            </div><!--- end of htitle -->
            <span class="date_duration">
              <abbr class="dtstart" title="2010-10-01"> October 2010 </abbr>
              &mdash;
              <abbr class="dtend" title="2010-11-30"> November 2010 </abbr>
            </span>
            <ul class="description">
              <li>Worked with a legacy codebase</li>
              <li>Added role management to an existing authentication system</li>
              <li>IVR system RAGI/Asterisk</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

        </ol><!--- end of vcalendar -->

      </div><!--- end of description -->
    </li><!--- end of experience vevent vcard -->

    <li class="experience vevent vcard">
      <div class="htitle">
        <span class="summary">Development Intern</span>,
        <span class="org">
          <a href="http://edgecase.com">EdgeCase</a>,
        </span>
        <span class="location">Columbus, OH</span>
      </div><!--- end of htitle -->
      <span class="date_duration">
        <abbr class="dtstart" title="2010-06-01"> June 2010 </abbr>
        &mdash;
        <abbr class="dtend" title="2010-04-30"> April 2010 </abbr>
      </span>
      <div class="description">

        <ol class="vcalendar">

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://scrip-safe.com">Scrip-Safe</a>
              </span>
            </div><!--- end of htitle -->
            <ul class="description">
              <li>A web-based student transcript archive service</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href ="http://www.scrip-safe.com/products/diplomas-on-demand.aspx">Diplomas on Demand</a>
              </span>
            </div><!--- end of htitle -->
            <ul class="description">
              <li>A web-based diploma design and printing tool</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://www.scrip-safe.com/products/transcripts-on-demand.aspx">Transcripts on Demand</a>
              </span>
            </div><!--- end of htitle -->
            <ul class="description">
              <li>A web-based student transcript request fulfillment tool</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

          <li class ="experience vevent vcard">
            <div class="htitle">
              <span class="project">
                <a href="http://www.bmc.com/products/brand/streamstep-acquisition.html">Stream Step</a>
              </span>
            </div><!--- end of htitle -->
            <ul class="description">
              <li>An application deployment automation solution</li>
            </ul><!--- end of description -->
          </li><!--- end of experience vevent vcard -->

        </ol><!--- end of vcalendar -->

      </div><!--- end of description -->
    </li><!--- end of experience vevent vcard -->

  </ol><!--- end of vcalendar -->

</div><!--- end work_history -->

<div class="education">
  <h2>Education</h2>
  <ol class="vcalendar">
    <li class="education vevent vcard">
      <div class="htitle">
        <div class="org">Ohio Wesleyan University</div>
        <div class="location">Delaware, OH</div>
      </div>
      <span class="date_duration">
        <abbr class="dtstart" title="2006-09-01"> September 2006 </abbr>
        &mdash;
        <abbr class="dtend" title="2010-05-31"> May 2010 </abbr>
      </span>
      <ul class="description">
        <li>B.A. Computer Science</li>
        <li>B.F.A. Computer Imaging and Graphic Design</li>
      </ul>
    </li>
  </ol>
</div>
